.topnav {
    position: fixed;
    background-color: white;
    text-align: center;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .topnav > * {
    margin-right: 15px;
  }
  
  
  .topnav a {
    display: inline-block; 
    color: #8e8383;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
 
  .topnav a:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #66b032;
    color: white;
  }
  
  .topnav a.active {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #66b032;
    color: white;
  }
