.sign-in {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.sign-in .div {
    background-color: #F5F5F5;
    height: 1302px;
    position: relative;
    width: 1491px;
}

.sign-in .text-wrapper {
color: #66b032;
font-family: "Outfit", Helvetica;
font-size: 37px; 
font-weight: 700; 
height: 47px;
left: 595px;
letter-spacing: 0;
line-height: normal;
position: absolute; 
text-align: center;
top: 233px;
width: 300px;
}

.sign-in .text-wrapper-2 {
    color: #8e8383;
    font-family: "Outfit", Helvetica;
    font-size: 25px; 
    font-weight: 400; 
    height: 35px;
    left: 610px;
    letter-spacing: 0; line-height: normal;
    position: absolute; 
    text-align: center;
    top: 285px;
    width: 270px;
}

.sign-in .overlap {
    border: 0.6px solid;
    border-color: #8e8383;
    border-radius: 5px;
    height: 49px;
    left: 574px;
    position: absolute;
    top: 415px;
    width: 342px;
}

.sign-in .overlap-group {
    border: 0.6px solid; 
    border-color: #8e8383; 
    border-radius: 5px;
    height: 49px;
    left: 573px;
    padding: 2px;
    position: absolute;
    top: 473px;
    width: 342px;
    }

.sign-in .div-wrapper {
    background-color: #66b032;
    border: 1.6px solid;
    border-color: dark;
    border-radius: 5px;
    height: 49px;
    left: 574px;
    position: absolute;
    top: 577px;
    width: 342px;
}

.sign-in .span {
    color: #555353;
}

.sign-in .text-wrapper-6 {
    color: #66b032;
    font-weight: 700;
}

.sign-in .SingUp {
    color: transparent;
    font-family: "Outfit", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 20px;
    left: 609px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 767px;
    width: 272px;
}