.conteudo-beneficios {
  display: flex;
  justify-content: flex-start;
  margin: 50px;
}

.table-container {
  max-width: 100%;
}

.custom-table {
 
  border-collapse: collapse;

}

.custom-table th,
.custom-table td {
  padding: 10px;
  text-align: left;
}

.custom-table th {
  background-color: #66b032;
  color: white;
  border: 1px solid #ccc;
}

.custom-table td {
  border: 1px solid #ccc;
}

.custom-table td:first-child {
  font-weight: bold;
}

.custom-table td[data-has-benefit='true'] {
  background-color: #66b032;
  color: white;
}

.custom-table td[data-has-benefit='false'] {
  background-color: #fff;
  color: #3e3e3e;
}

.custom-table td:hover {
  cursor: pointer;
}

.custom-table td:hover[data-has-benefit='true'] {
  background-color: #4b8d1b;
}

.custom-table td:hover[data-has-benefit='false'] {
  background-color: #f0f0f0;
}

.coluna-1 {
  width: 430px;
  overflow: auto;
}

.coluna-1 td  {
  max-width: 100%;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}

.coluna-2 {
  width: 100% !important;
  overflow: auto;
}

.coluna-2 table {
  min-width: 100% !important;
}

.coluna-2 table td , .coluna-2 table th {
  text-align: center;
}


/* Adicionando estilo para tornar a tabela responsiva */
@media only screen and (max-width: 768px) {
  .responsive-table {
    overflow-x: auto;
  }
}