:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #eeeeee;
  --background-end-rgb: #eeeeee;

}


* {
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  margin: 0;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #eeeeee;
}

a {
  color: inherit;
  text-decoration: none;
}


